DITA-OT1.8.RC_v1/schema/promptScheme/xsd/classifyDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- HEADER -->
<!-- ============================================================= -->
<!-- MODULE:    DITA Prompt Classification Domain -->
<!-- VERSION:   1.1 -->
<!-- DATE:      March 2025 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!---->

<!-- ============================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA) -->
<!---->
<!-- PURPOSE:    Define elements and specialization attributes -->
<!-- for Map Prompt Classification Domain -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- March 2025 -->
<!---->
<!-- (C) Copyright OASIS Open 2009. -->
<!-- (C) Copyright IBM Corporation 2005, 2007. -->
<!-- Kaplan, All Rights Reserved. -->
<!---->
<!-- UPDATES: -->
<!-- ============================================================= -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">

  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/"    schemaLocation="urn:oasis:names:tc:dita:xsd:ditaarch.xsd:1.2"/>
  
  <xs:annotation>
    <xs:appinfo>
      <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(map classify-d)</dita:domainsModule>
    </xs:appinfo>
    <xs:documentation> 
    
    </xs:documentation>
  </xs:annotation>

  <xs:group name="classify-d-topicref">
    <xs:sequence>
    	<xs:group ref="topicprompt"/>
      <xs:group ref="topicapply"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="classify-d-reltable">
    <xs:sequence>
    	<xs:group ref="topicPromptTable"/>
    </xs:sequence>
  </xs:group>

	<xs:group name="topicPromptTable">
    <xs:sequence>
    	<xs:element ref="topicPromptTable"/>
    </xs:sequence>
  </xs:group>

	<xs:group name="topicprompt">
    <xs:sequence>
    	<xs:element ref="topicprompt"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="topicapply">
    <xs:sequence>
      <xs:element ref="topicapply"/>
    </xs:sequence>
  </xs:group>
  <!-- New -->
	<xs:group name="promptref">
    <xs:sequence>
    	<xs:element ref="promptref"/>
    </xs:sequence>
  </xs:group>
	<xs:group name="topicPromptHeader">
    <xs:sequence>
    	<xs:element ref="topicPromptHeader"/>
    </xs:sequence>
  </xs:group>
	<xs:group name="topicPromptRow">
    <xs:sequence>
    	<xs:element ref="topicPromptRow"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="topicCell">
    <xs:sequence>
      <xs:element ref="topicCell"/>
    </xs:sequence>
  </xs:group>
	<xs:group name="promptCell">
    <xs:sequence>
    	<xs:element ref="promptCell"/>
    </xs:sequence>
  </xs:group>
  
  
  <!-- ============================================================= -->
  <!-- ELEMENT DECLARATIONS -->
  <!-- ============================================================= -->
	<!-- LONG NAME: Topic Prompt -->
  <!-- SKOS equivalent:  primary if href or keyref are specified -->
  
	<xs:complexType name="topicprompt.class">
    <xs:sequence>
    	<xs:group ref="topicprompt.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="topicprompt.attributes"/>
  </xs:complexType>
  
	<xs:group name="topicprompt.content">
    <xs:sequence>
      <xs:group minOccurs="0" ref="topicmeta"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="data.elements.incl"/>
      	<xs:group ref="promptref"/>
        <xs:group ref="topicref"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
	<xs:attributeGroup name="topicprompt.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="query" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" default="resource-only"/>
    <xs:attribute name="scope" type="yesno-att.class"/>
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="toc" default="no" type="yesno-att.class"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts" />
  </xs:attributeGroup>
  
	<xs:element name="topicprompt">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="topicprompt.class">
      		<xs:attribute name="class" default="+ map/topicref classify-d/topicprompt "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  
  <xs:complexType name="topicapply.class">
    <xs:sequence>
      <xs:group ref="topicapply.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="topicapply.attributes"/>
  </xs:complexType>
  
  <!-- LONG NAME: Topic Apply -->
  <xs:group name="topicapply.content">
    <xs:sequence>
    <xs:sequence>
      <xs:group minOccurs="0" ref="topicmeta"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="data.elements.incl"/>
      	<xs:group ref="promptref"/>
        <xs:group ref="topicref"/>
      </xs:choice>
    </xs:sequence>
      </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="topicapply.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="query" type="xs:string"/>
    <xs:attribute name="collection-type" type="collection-type.class"/>
     <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" default="resource-only"/>
     <xs:attribute name="scope" type="scope-att.class"/>
     <xs:attribute name="format" type="xs:string"/>
     <xs:attribute name="linking" type="linkingtypes.class"/>
     <xs:attribute name="toc" type="yesno-att.class"/>
    <xs:attributeGroup ref="univ-atts" />
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attributeGroup ref="global-atts" />
  </xs:attributeGroup>
  
  <xs:element name="topicapply">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="topicapply.class">
          <xs:attribute name="class" default="+ map/topicref classify-d/topicapply "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
	<xs:complexType name="promptref.class">
    <xs:sequence>
    	<xs:group ref="promptref.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptref.attributes"/>
  </xs:complexType>
  
	<!-- LONG NAME: Prompt Reference -->
	<xs:group name="promptref.content">
    <xs:sequence>
    <xs:sequence>
      <xs:group minOccurs="0" ref="topicmeta"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="data.elements.incl"/>
    </xs:sequence>
      </xs:sequence>
  </xs:group>
  
	<xs:attributeGroup name="promptref.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="query" type="xs:string"/>
    <xs:attribute name="collection-type" type="collection-type.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" default="resource-only"/>
     <xs:attribute name="type" type="xs:string"/>
     <xs:attribute name="scope" type="scope-att.class"/>
     <xs:attribute name="format" type="xs:string"/>
     <xs:attribute name="linking" type="linkingtypes.class"/>
     <xs:attribute name="toc" type="yesno-att.class"/>
    <xs:attributeGroup ref="univ-atts" />
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attributeGroup ref="global-atts" />
  </xs:attributeGroup>
  
	<xs:element name="promptref">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptref.class">
      		<xs:attribute name="class" default="+ map/topicref classify-d/promptref "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
 
	<!-- LONG NAME: Topic Prompt Relationship Table -->
  
	<xs:complexType name="topicPromptTable.class">
    <xs:sequence>
    	<xs:group ref="topicPromptTable.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="topicPromptTable.attributes"/>
  </xs:complexType>
  
	<xs:group name="topicPromptTable.content">
   <xs:sequence>
    <xs:sequence>
      <xs:group ref="title"/>
      <xs:group minOccurs="0" ref="topicmeta"/>
    	<xs:group minOccurs="0" ref="topicPromptHeader"/>
    	<xs:group maxOccurs="unbounded" ref="topicPromptRow"/>
    </xs:sequence>
   </xs:sequence>
  </xs:group>
  
	<xs:attributeGroup name="topicPromptTable.attributes">
    <xs:attribute name="title"/>
    <xs:attributeGroup ref="topicref-atts-no-toc"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
  
	<xs:element name="topicPromptTable">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="topicPromptTable.class">
      		<xs:attribute name="class" default="+ map/reltable classify-d/topicPromptTable "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  
	<!-- LONG NAME: Topic Prompt Table Header -->
  <!--
    The header defines the set of prompts for each column.
    By default, the prompt in the header cell must be a broader ancestor
        within a scheme available during processing for the prompts
        in the same column of other rows
    In the header, the topicCell serves primarily as a placeholder
        for the topic column but could also provide some constraints
        or metadata for the topics
  -->
	<xs:complexType name="topicPromptHeader.class">
    <xs:sequence>
    	<xs:group ref="topicPromptHeader.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="topicPromptHeader.attributes"/>
  </xs:complexType>
  
	<xs:group name="topicPromptHeader.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group ref="topicCell"/>
      	<xs:group maxOccurs="unbounded" ref="promptCell"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

	<xs:attributeGroup name="topicPromptHeader.attributes">
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
	<xs:element name="topicPromptHeader">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="topicPromptHeader.class">
      		<xs:attribute name="class" default="+ map/relrow classify-d/topicPromptHeader "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


	<!-- LONG NAME: Topic Prompt Table Row -->
	<xs:complexType name="topicPromptRow.class">
    <xs:sequence>
    	<xs:group ref="topicPromptRow.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="topicPromptRow.attributes"/>
  </xs:complexType>
  
	<xs:group name="topicPromptRow.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group ref="topicCell"/>
      	<xs:group maxOccurs="unbounded" ref="promptCell"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

	<xs:attributeGroup name="topicPromptRow.attributes">
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

	<xs:element name="topicPromptRow">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="topicPromptRow.class">
      		<xs:attribute name="class" default="+ map/relrow classify-d/topicPromptRow "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


	<!-- LONG NAME: Topic Prompt Table Cell -->
  <xs:complexType name="topicCell.class">
    <xs:sequence>
      <xs:group ref="topicCell.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="topicCell.attributes"/>
  </xs:complexType>
  
  <xs:group name="topicCell.content">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="data.elements.incl"/>
        <xs:group ref="topicref"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>


  <xs:attributeGroup name="topicCell.attributes">
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="topicref-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

  <xs:element name="topicCell">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="topicCell.class">
          <xs:attribute name="class" default="+ map/relcell classify-d/topicCell "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


	<!-- LONG NAME: Topic Prompt Cell -->
	<xs:complexType name="promptCell.class">
    <xs:sequence>
    	<xs:group ref="promptCell.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptCell.attributes"/>
  </xs:complexType>
  
	<xs:group name="promptCell.content">
    <xs:sequence>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
        	<xs:group ref="promptref"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

	<xs:attributeGroup name="promptCell.attributes">
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="topicref-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

	<xs:element name="promptCell">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptCell.class">
      		<xs:attribute name="class" default="+ map/relcell classify-d/promptCell "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- ================== DITA Prompt Classification Domain  ====== -->
