DITA-OT1.8.RC_v1/schema/promptScheme/xsd/promptSchemeMod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- HEADER -->
<!-- ============================================================= -->
<!-- MODULE:    DITA Prompt Scheme Map -->
<!-- VERSION:   1.1 -->
<!-- DATE:      March 2025 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA) -->
<!---->
<!-- PURPOSE:    Declaring the elements and specialization -->
<!-- attributes for DITA Prompt Scheme Maps -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- February 2009 -->
<!---->
<!-- (C) Copyright OASIS Open 2009. -->
<!-- (C) Copyright IBM Corporation 2005, 2007. -->
<!-- All Rights Reserved. -->
<!---->
<!-- UPDATES: -->
<!-- 2009.02.13 RDA: Created file based upon prototype from IBM -->
<!-- ============================================================= -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">

  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="urn:oasis:names:tc:dita:xsd:ditaarch.xsd:1.2"/>
  
  <xs:annotation>
    <xs:appinfo>
    	<dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(map promptScheme)</dita:domainsModule>
    </xs:appinfo>
    <xs:documentation> 
    
    </xs:documentation>
    </xs:annotation>

  <!-- ============================================================= -->
  <!-- ELEMENT DECLARATIONS -->
  <!-- ============================================================= -->

	<xs:complexType name="promptScheme.class">
    <xs:sequence>
    	<xs:group ref="promptScheme.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptScheme.attributes"/>
  </xs:complexType>
  
  <!-- This differs from topicref-atts-no-toc only by providing a
     default for @processing-role                                  -->
	<xs:attributeGroup name="topicref-atts-for-promptScheme">
    <xs:annotation>
      <xs:documentation>
      	The %topicref-atts-for-promptScheme; parameter entity represents the set
        of attributes used in the <xref href="reltable.xml">reltable</xref> map
        element. The set is similar to those documented in <xref href="topicref-atts.xml">topicref-atts</xref> but
        for &lt;<keyword>reltable</keyword>&gt; the <i><keyword>toc</keyword></i> attribute
        defaults to <q>no</q>. For the other elements that use the %topicref-atts;
        group declaration, the <i><keyword>toc</keyword></i> attribute doesn't have
        a default; they can inherit their <i><keyword>toc</keyword></i> value from
        the nearest container, otherwise it functions upon output as if set to <q>yes</q>.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="collection-type" type="collection-type.class"/>
     <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" default="resource-only"/>
     <xs:attribute name="scope" type="scope-att.class"/>
     <xs:attribute name="locktitle" type="yesno-att.class"/>
     <xs:attribute name="format" type="xs:string"/>
     <xs:attribute name="linking" type="linkingtypes.class"/>
     <xs:attribute name="toc" type="yesno-att.class" default="no"/>
     <xs:attribute name="print" type="print-att.class"/>
     <xs:attribute name="search" type="yesno-att.class"/>
     <xs:attribute name="chunk" type="xs:string"/>
  </xs:attributeGroup>

	<!-- LONG NAME: Prompt Scheme Map -->
	<xs:group name="promptScheme.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="title"/>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="anchor"/>
          <xs:group ref="data.elements.incl"/>
          <xs:group ref="enumerationdef"/>
          <xs:group ref="hasInstance"/>
          <xs:group ref="hasKind"/>
          <xs:group ref="hasNarrower"/>
          <xs:group ref="hasPart"/>
          <xs:group ref="hasRelated"/>
          <xs:group ref="navref"/>
        	<xs:group ref="relatedPrompts"/>
          <xs:group ref="reltable"/>
          <xs:group ref="schemeref"/>
        	<xs:group ref="promptdef"/>
        	<xs:group ref="promptHead"/>
        	<xs:group ref="promptRelTable"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

	<xs:attributeGroup name="promptScheme.attributes">
    <xs:attribute ref="ditaarch:DITAArchVersion"/>
    <xs:attributeGroup ref="domains-att"/>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attributeGroup ref="conref-atts"/>
    <xs:attribute name="anchorref" type="xs:string"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attributeGroup ref="localization-atts"/>
		<xs:attributeGroup ref="topicref-atts-for-promptScheme"/>
    <xs:attributeGroup ref="select-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

	<xs:element name="promptScheme">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptScheme.class">
      		<xs:attribute name="class" default="- map/map promptScheme/promptScheme "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="schemeref.class">
    <xs:sequence>
      <xs:group ref="schemeref.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="schemeref.attributes"/>
  </xs:complexType>

  <!-- LONG NAME: Scheme reference -->
  <xs:group name="schemeref.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="data.elements.incl"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="schemeref.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="query" type="xs:string"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="type" default="scheme" type="xs:string"/>
    <xs:attribute name="format" default="ditamap" type="xs:string"/>
    <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

  <xs:element name="schemeref">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="schemeref.class">
        	<xs:attribute name="class" default="- map/topicref promptScheme/schemeref "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="hasNarrower.class">
    <xs:sequence>
      <xs:group ref="hasNarrower.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="hasNarrower.attributes"/>
  </xs:complexType>

  <!-- LONG NAME: Has Narrower Relationship -->
  <xs:group name="hasNarrower.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
        	<xs:group ref="promptdef"/>
        	<xs:group ref="promptHead"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="hasNarrower.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
  <xs:element name="hasNarrower">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="hasNarrower.class">
        	<xs:attribute name="class" default="- map/topicref promptScheme/hasNarrower "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="hasKind.class">
    <xs:sequence>
      <xs:group ref="hasKind.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="hasKind.attributes"/>
  </xs:complexType>

  <!-- LONG NAME: Has Kind Relationship -->
  <xs:group name="hasKind.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
        	<xs:group ref="promptdef"/>
        	<xs:group ref="promptHead"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="hasKind.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
  <xs:element name="hasKind">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="hasKind.class">
        	<xs:attribute name="class" default="- map/topicref promptScheme/hasKind "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- LONG NAME: Has Part Relationship -->
  <xs:complexType name="hasPart.class">
    <xs:sequence>
      <xs:group ref="hasPart.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="hasPart.attributes"/>
  </xs:complexType>

  <xs:group name="hasPart.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
        	<xs:group ref="promptdef"/>
        	<xs:group ref="promptHead"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="hasPart.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
  <xs:element name="hasPart">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="hasPart.class">
        	<xs:attribute name="class" default="- map/topicref promptScheme/hasPart "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- LONG NAME: Has Instance Relationship -->

  <xs:complexType name="hasInstance.class">
    <xs:sequence>
      <xs:group ref="hasInstance.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="hasInstance.attributes"/>
  </xs:complexType>

  <xs:group name="hasInstance.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
        	<xs:group ref="promptdef"/>
        	<xs:group ref="promptHead"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="hasInstance.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
  <xs:element name="hasInstance">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="hasInstance.class">
        	<xs:attribute name="class" default="- map/topicref promptScheme/hasInstance "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- LONG NAME: Has Related Relationship -->
  <xs:complexType name="hasRelated.class">
    <xs:sequence>
      <xs:group ref="hasRelated.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="hasRelated.attributes"/>
  </xs:complexType>

  <xs:group name="hasRelated.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
        	<xs:group ref="promptdef"/>
        	<xs:group ref="promptHead"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="hasRelated.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="collection-type" default="choice">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="choice"/>
          <xs:enumeration value="sequence"/>
          <xs:enumeration value="unordered"/>
          <xs:enumeration value="-dita-use-conref-target"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
   <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

  <xs:element name="hasRelated">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="hasRelated.class">
        	<xs:attribute name="class" default="- map/topicref promptScheme/hasRelated "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<xs:complexType name="promptdef.class">
    <xs:sequence>
    	<xs:group ref="promptdef.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptdef.attributes"/>
  </xs:complexType>

	<!-- LONG NAME: Prompt definition -->
	<xs:group name="promptdef.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
          <xs:group ref="hasInstance"/>
          <xs:group ref="hasKind"/>
          <xs:group ref="hasNarrower"/>
          <xs:group ref="hasPart"/>
          <xs:group ref="hasRelated"/>
        	<xs:group ref="promptdef"/>
        	<xs:group ref="promptHead"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
	<xs:attributeGroup name="promptdef.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="query" type="xs:string"/>
    <xs:attribute name="copy-to" type="xs:string"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attribute name="collection-type" type="collection-type.class"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="locktitle" type="yesno-att.class"/>
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="linking" type="linkingtypes.class"/>
    <xs:attribute name="toc" type="yesno-att.class"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

	<xs:element name="promptdef">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptdef.class">
      		<xs:attribute name="class" default="- map/topicref promptScheme/promptdef "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<!-- LONG NAME: Prompt Heading -->
  <!-- SKOS equivalent: concept collection -->
	<xs:complexType name="promptHead.class">
    <xs:sequence>
    	<xs:group ref="promptHead.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptHead.attributes"/>
  </xs:complexType>

	<xs:group name="promptHead.content">
    <xs:sequence>
      <xs:sequence>
      	<xs:group minOccurs="0" ref="promptHeadMeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
        	<xs:group ref="promptdef"/>
        	<xs:group ref="promptHead"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

	<xs:attributeGroup name="promptHead.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="collection-type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="sequence"/>
          <xs:enumeration value="unordered"/>
          <xs:enumeration value="-dita-use-conref-target"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="linking" default="normal">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="toc" type="yesno-att.class"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
	<xs:element name="promptHead">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptHead.class">
      		<xs:attribute name="class" default="- map/topicref promptScheme/promptHead "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<!-- LONG NAME: Prompt Heading Metadata -->
	<xs:complexType name="promptHeadMeta.class">
    <xs:sequence>
    	<xs:group ref="promptHeadMeta.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptHeadMeta.attributes"/>
  </xs:complexType>

	<xs:group name="promptHeadMeta.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="navtitle"/>
        <xs:group minOccurs="0" ref="shortdesc"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
	<xs:attributeGroup name="promptHeadMeta.attributes">
    <xs:attribute name="lockmeta" type="yesno-att.class"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
	<xs:element name="promptHeadMeta">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptHeadMeta.class">
      		<xs:attribute name="class" default="- map/topicmeta promptScheme/promptHeadMeta "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- LONG NAME: Enumeration definition -->
  <xs:complexType name="enumerationdef.class">
    <xs:sequence>
      <xs:group ref="enumerationdef.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="enumerationdef.attributes"/>
  </xs:complexType>

  <xs:group name="enumerationdef.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="elementdef"/>
        <xs:group ref="attributedef"/>
      	<xs:group maxOccurs="unbounded" ref="promptdef"/>
      	<xs:group minOccurs="0" ref="defaultPrompt"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="data.elements.incl"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="enumerationdef.attributes">
    <xs:attributeGroup ref="id-atts"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attribute name="status" type="status-atts.class"/>
    <xs:attribute name="base"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
  <xs:element name="enumerationdef">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="enumerationdef.class">
        	<xs:attribute name="class" default="- map/topicref promptScheme/enumerationdef "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- LONG NAME: Element definition -->
  <xs:complexType name="elementdef.class">
    <xs:sequence>
      <xs:group ref="elementdef.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="elementdef.attributes"/>
  </xs:complexType>

  <xs:group name="elementdef.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="data.elements.incl"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="elementdef.attributes">
    <xs:attributeGroup ref="id-atts"/>
    <xs:attribute name="name" use="required" type="xs:string"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attribute name="status" type="status-atts.class"/>
    <xs:attribute name="translate" default="no" type="yesno-att.class"/>
    <xs:attribute name="base"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

  <xs:element name="elementdef">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="elementdef.class">
        	<xs:attribute name="class" default="- topic/data promptScheme/elementdef "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- LONG NAME: Attribute definition -->
  <xs:complexType name="attributedef.class">
    <xs:sequence>
      <xs:group ref="attributedef.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="attributedef.attributes"/>
  </xs:complexType>

  <xs:group name="attributedef.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="data.elements.incl"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="attributedef.attributes">
    <xs:attributeGroup ref="id-atts"/>
    <xs:attribute name="name" use="required" type="xs:string"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attribute name="status" type="status-atts.class"/>
    <xs:attribute name="translate" default="no" type="yesno-att.class"/>
    <xs:attribute name="base"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

  <xs:element name="attributedef">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="attributedef.class">
        	<xs:attribute name="class" default="- topic/data promptScheme/attributedef "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<!-- LONG NAME: Default Prompt -->
	<xs:complexType name="defaultPrompt.class">
    <xs:sequence>
    	<xs:group ref="defaultPrompt.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="defaultPrompt.attributes"/>
  </xs:complexType>

	<xs:group name="defaultPrompt.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="data.elements.incl"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
	<xs:attributeGroup name="defaultPrompt.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="query" type="xs:string"/>
    <xs:attribute name="copy-to" type="xs:string"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attribute name="collection-type" type="collection-type.class"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="locktitle" type="yesno-att.class"/>
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="linking" type="linkingtypes.class"/>
    <xs:attribute name="toc" type="yesno-att.class"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

	<xs:element name="defaultPrompt">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="defaultPrompt.class">
      		<xs:attribute name="class" default="- map/topicref promptScheme/defaultPrompt "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<!-- LONG NAME: Related Prompts -->
  <!--
    To define roles within a relationship, you can specialize
    the relatedPrompts container and its contained promptdef elements,
    possibly setting the linking attribute to targetonly or sourceonly.
    For instance, a dependency relationship could contain depended-on
    and dependent prompts.
  -->
	<xs:complexType name="relatedPrompts.class">
    <xs:sequence>
    	<xs:group ref="relatedPrompts.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="relatedPrompts.attributes"/>
  </xs:complexType>

	<xs:group name="relatedPrompts.content">
    <xs:sequence>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="data.elements.incl"/>
        	<xs:group ref="promptdef"/>
          <xs:group ref="topicref"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
	<xs:attributeGroup name="relatedPrompts.attributes">
    <xs:attribute name="navtitle" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="keys" type="xs:string"/>
    <xs:attribute name="query" type="xs:string"/>    
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="scope" type="scope-att.class"/>
    <xs:attribute name="processing-role" type="processing-role-att.class" />
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="linking" type="linkingtypes.class" default="normal"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>

	<xs:element name="relatedPrompts">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="relatedPrompts.class">
      		<xs:attribute name="class" default="- map/topicref promptScheme/relatedPrompts "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<!-- LONG NAME: Prompt Relationship Table -->
  <!--
    Where there are many instances of a prompt relationship in which
    different prompts have defined roles within the relationship,
    you can use or specialize the promptRelTable.
    Note that each row matrixes relationships across columns such that
    a prompt receives relationships to every prompt in other columns
    within the same row.
  -->
	<xs:complexType name="promptRelTable.class">
    <xs:sequence>
    	<xs:group ref="promptRelTable.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptRelTable.attributes"/>
  </xs:complexType>

	<xs:group name="promptRelTable.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group minOccurs="0" ref="title"/>
        <xs:group minOccurs="0" ref="topicmeta"/>
      	<xs:group minOccurs="0" ref="promptRelHeader"/>
      	<xs:group maxOccurs="unbounded" ref="promptRel"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
	<xs:attributeGroup name="promptRelTable.attributes">
    <xs:attributeGroup ref="topicref-atts-no-toc"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
	<xs:element name="promptRelTable">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptRelTable.class">
      		<xs:attribute name="class" default="- map/reltable promptScheme/promptRelTable "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<!-- LONG NAME: Prompt Table Header -->
  <!--
    The header defines the role of prompts in each column
    The role definition can be an informal navtitle or 
        a formal reference
  -->

	<xs:complexType name="promptRelHeader.class">
    <xs:sequence>
    	<xs:group ref="promptRelHeader.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptRelHeader.attributes"/>
  </xs:complexType>

	<xs:group name="promptRelHeader.content">
    <xs:sequence>
      <xs:sequence>
      	<xs:group maxOccurs="unbounded" ref="promptRole"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
	<xs:attributeGroup name="promptRelHeader.attributes">
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
	<xs:element name="promptRelHeader">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptRelHeader.class">
      		<xs:attribute name="class" default="- map/relrow promptScheme/promptRelHeader "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<!-- LONG NAME: Prompt Table Row -->
	<xs:complexType name="promptRel.class">
    <xs:sequence>
    	<xs:group ref="promptRel.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptRel.attributes"/>
  </xs:complexType>

	<xs:group name="promptRel.content">
    <xs:sequence>
      <xs:sequence>
      	<xs:group maxOccurs="unbounded" ref="promptRole"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
	<xs:attributeGroup name="promptRel.attributes">
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
	<xs:element name="promptRel">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptRel.class">
      		<xs:attribute name="class" default="- map/relrow promptScheme/promptRel "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

	<!-- LONG NAME: Prompt Role -->
	<xs:complexType name="promptRole.class">
    <xs:sequence>
    	<xs:group ref="promptRole.content"/>
    </xs:sequence>
		<xs:attributeGroup ref="promptRole.attributes"/>
  </xs:complexType>

	<xs:group name="promptRole.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="data.elements.incl"/>
      	<xs:group ref="promptdef"/>
        <xs:group ref="topicref"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>

	<xs:attributeGroup name="promptRole.attributes">
    <xs:attributeGroup ref="topicref-atts"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
	<xs:element name="promptRole">
    <xs:complexType>
      <xs:complexContent>
      	<xs:extension base="promptRole.class">
      		<xs:attribute name="class" default="- map/relcell promptScheme/promptRole "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================= -->
  <!-- SPECIALIZATION ATTRIBUTE DECLARATIONS -->
  <!-- ============================================================= -->
</xs:schema>
<!-- ================== End DITA Prompt Scheme Map ============== -->
